@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* { outline: 1px dotted red }*/

a {
  text-decoration: none;
}

#warning-body {
  display: none;
}

#footer-warning-fun {
  display: none;
}

.header {
  padding: 4vh 2vh;
}

#body {
  flex-grow: 1;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#loading {
  position: fixed;
  background: white;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  right: -100%;
  text-align: center;
  transition: all 200ms ease-in-out;
}

#loading-nav-menu {
  position: fixed;
  background: white;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 99;
  top: 0;
  text-align: center;
  transition: all 200ms ease-in-out;
}

#loading-back {
  position: fixed;
  background: white;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  left: -100%;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.wait {
  transition: all 200ms ease-in-out !important;
  right: 0 !important;
}

.wait-back {
  transition: all 200ms ease-in-out !important;
  left: 0 !important;
}

#loading-back img {
  margin-top: 14em;
  height: 72px;
  transform: translateY(50%);
}

#loading-nav-menu img {
  margin-top: 14em;
  height: 72px;
  transform: translateY(50%);
}

#loading img {
  margin-top: 14em;
  height: 72px;
  transform: translateY(50%);
}

.search-box {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  padding: 4px 7px 4px 38px;
  position: relative;
  background: #f0eeef;
  border: 1px solid #f0eeff;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.search-box.hovered,
.search-box:hover,
.search-box:active,
.search-box:focus {
  transition: all 200ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search-box input[type="text"] {
  border: none;
  box-shadow: none;
  display: inline-block;
  padding: 0;
  background: transparent;
}
.search-box input[type="text"]:hover,
.search-box input[type="text"]:focus,
.search-box input[type="text"]:active {
  box-shadow: none;
}
.search-box .search-btn {
  position: absolute;
  left: 0;
  top: -4px;
  color: #aaa;
  border-radius: 3px;
  font-size: 21px;
  padding: 5px 10px 1px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.search-box .search-btn:hover {
  color: #fff;
  background-color: #8fbe00;
}

div.category-button-slide ul li button {
  color: black;
  border-radius: 45px;
  box-shadow: 0px 0px 0px 0px;
  margin: 0;
  transition: all 200ms ease-in-out;
  position: unset;
  top: 0;
  padding-top: 10px;
}

div.category-button-slide ul {
  white-space: nowrap !important;
  overflow-x: auto;
  display: block;
  padding: 8px 2px;
}

div.category-button-slide ul li {
  display: inline-block;
  float: none;
  clear: both;
}

div.category-button-slide > ul > li:nth-child(1) {
  margin-left: 11px;
}

div.category-button-slide > ul > li:last-child {
      margin-right: 13px;
}

div.category-button-slide ul li button.active {
  transition: all 200ms ease-in-out;
  box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 75%);
  position: relative;
  top: -4px;
  background-color: #89bf43;
}

.category-product-slider {
  font-size: 14px;
  height: 13.5em;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-top: 2vh;
  padding-bottom: 10px;
}

.category-product-slider > div:first-child {
  margin-left: 1em !important;
}

.category-product-slider > div:last-child {
  margin-right: 1em !important;
}

.category-product-slider .category-product-wrapper {
  background-color: #eee;
  float: none;
  height: 100%;
  margin: 0 5px;
  display: inline-block;
  position: relative;
  width: 150px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

.weather-card-slider {
  font-size: 14px;
  height: 160px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-top: 2vh;
  padding-bottom: 18px;
}

.weather-card-slider > div:first-child {
  margin-left: 1em !important;
}

.weather-card-slider > div:last-child {
  margin-right: 1em !important;
}

.weather-card-slider .weather-card {
  background-color: white;
  float: none;
  height: 100%;
  margin: 0px 5px;
  display: inline-block;
  position: relative;
  width: 113px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  border-radius: 10px;
}

.weather-card {
  display: flex;
  flex-direction: column;
  padding: 7px;
}

.cerah {
  background: linear-gradient(180deg, #fce93c 0%, rgba(255, 237, 77, 0) 82.02%);
}

.cerah-berawan {
  background: linear-gradient(180deg, #fce93c 0%, rgba(255, 237, 77, 0) 82.02%);
}

.berawan {
  background: linear-gradient(180deg, #D0D7D6 53.53%, #FFFFFF 100%);
}

.kabut {
  background: linear-gradient(180deg, #D0D7D6 53.53%, #FFFFFF 100%);
}

.hujan-ringan {
  background: linear-gradient(180deg, #acaca9 53.53%, #ffffff 100%);
}

.hujan {
  background: linear-gradient(180deg, #acaca9 53.53%, #ffffff 100%);
}



.category-product-wrapper img {
  width: 100%;
  overflow: hidden;
  display: block;
  transform: scale(1.3);
}

.product-category-overview {
  padding: 5px 7px;
  text-align: center;
  position: absolute;
  bottom: 9px;
  background-color: #f0eeee;
  width: 100%;
  border-radius: 15px;
  margin-bottom: -7px;
}

.product-category-overview p {
  margin-bottom: 0;
}

.product-category-overview a.link-to {
  border: none;
  background: #89bf43;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  width: 100%;
  text-decoration: none;
  padding: 2px 14px;
}

a.link-button {
  display: flex;
  line-height: 2;
  font-size: 17px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  margin-bottom: 13px;
}

a.link-button div {
  padding: 3px 12px;
  width: 59px;
  box-shadow: -2px 3px 6px 1px rgb(0 0 0 / 75%);
  text-align: center;
  margin-right: 10px;
  margin-top: -6px;
  border-radius: 13px;
}

a.link-button div img {
  height: 33px;
}

.checked {
  color: orange;
}

.swiper-container {
  width: 100%;
  height: 14em;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 0 2vh 4vh 2vh;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.product-detail-image-wrapper {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.product-detail-image-wrapper img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: #89bf43 !important;
}

.bpatext {
  display: flex;
  flex-direction: row;
  color: #e2e2e2;
  margin: 2rem 0;
}
.bpatext:before,
.bpatext:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.bpatext:before {
  margin-right: 10px;
}
.bpatext:after {
  margin-left: 10px;
}

.alert-once {
  animation: pulse 450ms;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.bottom-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: rgba(242, 238, 238, 1);
  text-align: center;
  padding: 7px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.bottom-nav .bottom-nav-wrapper {
  
}

.active-bottom-nav {
  pointer-events: none;
  color: #89BF43;
  animation: popup 250ms ease-in-out;
}

.active-bottom-nav svg {
  color: #89BF43 !important;
}

.active-bottom-nav p {
  color: #89BF43 !important;
}

.bottom-nav .bottom-nav-wrapper button {
  display: block;
  border: none;
  font-size: 26px;
  padding: 0;
  background-color: rgba(242, 238, 238, 1);
}

.bottom-nav .bottom-nav-wrapper p {
  color: #00000030;
  margin: 0;
  font-size: 11px;
}

.bottom-nav .bottom-nav-wrapper svg {
  margin: auto;
}

@keyframes popup {
  0% { transform: scale(0); }
  30% { transform: scale(1.2); }
  80% { transform: scale(.9); }
  100% { transform: scale(1); }
}

.account-window {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.account-window > .account-window-wrapper {
  width: 100%;
  text-align: center;
  padding: 14px;
}

.account-window > .account-window-wrapper > img.img-petani-phone {
  animation: popup 1s ease-in-out;
}

.menu-nav-account-button {
  width: 47%;
  display: flex;
  margin: 3px 0px;
  flex-direction: column;
  padding: 10px;
  background: #eeeeee;
  color: #606060;
  align-items: center;
  text-decoration: none;
  transition: all 250ms ease-in-out;
  border-radius: 7px;
}

.menu-nav-account-button > svg {
  transform: scale(1);
  transition: all 250ms ease-in-out;
}

.menu-nav-account-button:hover > svg, .menu-nav-account-button:focus > svg, .menu-nav-account-button:active > svg {
  transform: scale(1.2);
  transition: all 250ms ease-in-out;
}

.info-account-overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-top: 3vh;
  text-align: center;
  border-radius: 7px;
  padding: 12px 1px;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

.info-account-overview div:nth-child(2) {
  position: relative;
}

.info-account-overview div:nth-child(2):before {
  content: "";
  background-color: #cfcfcf;
  position: absolute;
  width: 1px;
  height: 45px;
  top: 7px;
  left: 0px;
  display: block;
}

.info-account-overview div:nth-child(2):after {
  content: "";
  background-color: #cfcfcf;
  position: absolute;
  width: 1px;
  height: 45px;
  top: 7px;
  right: 0px;
  display: block;
}

.product-list-wrapper {
  height: 7em;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 10vh auto;
  margin-bottom: 30px;
  position: relative;
  padding: 0 2em;
}

.product-list-wrapper:after {
  border-bottom: 7px solid #f2f2f2d4;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -19px;
  margin: 0px 0;
}

.image-collection {
  width: 20%;
  border: 1px solid #d8d8d8;
  margin-right: 10px;
  padding: 1em 0;
  text-align: center;
  border-radius: 6px;
  position: relative;
  height: 74px;
  margin-bottom: 11px;
  animation: popup 250ms ease-in-out;
  position: relative;
  overflow: hidden;
}


.group {
  width: 100%;
  margin-bottom: 14px;
  overflow: hidden;
  position: relative;
}

label.labelinputcustom {
  position: absolute;
  top: 19px;
  color: #615858;
  font-size: 16px;
  cursor: text;
  transition: 0.25s ease;
}

input.tbinputcustom {
  display: block;
  width: 100%;
  padding-top: 19px;
  border: none;
  border-radius: 0;
  color: #615858;
  background: #3330;
  font-size: 17px;
  transition: 0.3s ease;
}
input.tbinputcustom:valid ~ label.labelinputcustom {
  top: 0;
  font-size: 13px;
  color: rgb(19 19 19 / 50%);
}
input.tbinputcustom:focus {
  outline: none;
}
input.tbinputcustom:focus ~ label.labelinputcustom {
  top: 0;
  font-size: 13px;
  color: rgb(19 19 19 / 50%);
}
input.tbinputcustom:focus ~ .bar:before {
  transform: translateX(0);
}
/*input.tbinputcustom:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: white !important;
}*/

input.tbinputharga:valid ~ label.labelhargainput {
  top: 0;
  font-size: 13px;
  color: rgb(19 19 19 / 50%);
  left: 0 !important;
}

input.tbinputharga:focus ~ label.labelhargainput {
  left: 0 !important;
  top: 0;
  font-size: 13px;
  color: rgb(19 19 19 / 50%);
}

.bar {
  background: #615858;
  content: "";
  width: 550px;
  height: 1px;
  transition: 0.3s ease;
  position: relative;
}
.bar:before {
  content: "";
  position: absolute;
  width: 550px;
  height: 1px;
  background: #89bf43;
  transform: translateX(-100%);
}

.options {
  color: #575757;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.options input {
  display: none;
}

.options > label {
  display: inline-block;
  position: relative;
  margin-right: 16px;
  padding-left: 13px;
  cursor: pointer;
}

.options > label:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 50%;
  margin-top: -8px;
  border: 1px solid #3e3c3c;;
  border-radius: 8px;
}
.options > label:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  right: 8px;
  margin-top: 0;
  background: #3e3c3c;;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}
.options :checked + label:after {
  height: 8px;
  width: 8px;
  margin-top: -4px;
  right: 4px;
}

@keyframes popupvsatu {
  0% { transform: scale(0); }
  30% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

#indicatordescription svg {
  animation: popup 350ms ease-in-out;
}

#description-window {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fbfbfb;
  left: 0;
  padding: 6vh 3vh;
  animation: popupvsatu 350ms ease-in-out;
  padding-top: 12vh;
}

#selectSatuanBerat, #selectSatuanBarang {
  margin-bottom: 14px;
  padding: 12px 0.5vh 0.5vh 0.5vh;
  border: 0;
  border-bottom: 1px solid #615858;
  font-weight: 600;
  width: 100%;
}

#btnSpawnDescriptionWindow {
  display: grid;
  grid-template-columns: 1fr 0.1fr 0.1fr;
  border: none;
  padding: 10px 14px;
  line-height: 2;
  text-align: left;
  width: 100%;
  background: #ffffff;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  #warning-body {
    width: auto;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .footer-warning-fun {
    display: block;
    padding: 0;
    position: relative;
  }

  #body,
  #body * {
    display: none;
  }

  .bg-login {
    display: none;
  }

  .footer {
    display: none;
  }
  
  .bottom-nav {
    display: none;
  }
}
