@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#warning-body {
  display: none;
}

.header {
  padding: 4vh 2vh;
}

#body {
  flex-grow: 1;
}

#loading {
  position: fixed;
  background: white;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  right: -100%;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.wait {
  transition: all 200ms ease-in-out !important;
  right: 0 !important;
}

#loading img {
  margin-top: 14em;
  height: 72px;
  transform: translateY(50%);
}

.search-box {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    padding: 4px 7px 4px 38px;
    position: relative;
    background: #F0EEEF;
    border: 1px solid #f0eeff;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .search-box.hovered, .search-box:hover, .search-box:active {
    border: 1px solid #d0d0d0;
  }
  .search-box input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    background: transparent;
  }
  .search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
    box-shadow: none;
  }
  .search-box .search-btn {
    position: absolute;
    left: 0;
    top: -4px;
    color: #aaa;
    border-radius: 3px;
    font-size: 21px;
    padding: 5px 10px 1px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .search-box .search-btn:hover {
    color: #fff;
    background-color: #8FBE00;
  }


  div.category-button-slide ul li button {
    color: black;
    border-radius: 45px;
    box-shadow: 0px 0px 0px 0px;
    margin: 0;
    transition: all 200ms ease-in-out;
    position: unset;
    top: 0;
    padding-top: 10px;
  }

  div.category-button-slide ul {
    white-space: nowrap !important;
    overflow-x: auto;
    display: block;
    padding: 8px 2px;
  }

  div.category-button-slide ul li {
    display: inline-block;
    float: none;
    clear: both;
  }

  div.category-button-slide ul li button.active {
    transition: all 200ms ease-in-out;
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 75%);
    position: relative;
    top: -4px;
    background-color: #89BF43;
  }

  .category-product-slider {
    font-size: 14px;
    height: 12.5em;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-top: 2vh;
  }

  .category-product-wrapper:last-child {
    margin-left: 5px;
  }

  .category-product-wrapper:first-child {
    margin-right: 5px;
  }

  .category-product-slider .category-product-wrapper {
    background-color: #eee;
    float: none;
    height: 100%;
    margin: 0 5px;
    display: inline-block;
    position: relative;
    width: 150px;
    border-radius: 15px;
  }

  .image-product-category {
    height: 100%;
    width: 100%;
  }

  .image-product-category img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .product-category-overview {
    padding: 5px 7px;
    text-align: center;
    position: absolute;
    bottom: 9px;
    background-color:#F0EEEE;
    width: 100%;
    border-radius: 15px;
    margin-bottom: -7px;
  }

  .product-category-overview p {
    margin-bottom: 0;
  }

  .product-category-overview a.link-to {
    border: none;
    background: #89BF43;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    width: 100%;
    text-decoration: none;
    padding: 2px 14px;
  }

  a.link-button {
    display: flex;
    line-height: 2;
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    margin-bottom: 13px;
  }

  a.link-button div {
    padding: 3px 12px;
    width: 59px;
    box-shadow: -2px 3px 6px 1px rgb(0 0 0 / 75%);
    text-align: center; 
    margin-right: 10px;
    margin-top: -6px;
    border-radius: 13px;
  }

  a.link-button div img {
    height: 33px;
  }

  .checked {
    color: orange;
  }

  .swiper-container {
    width: 100%;
    height: 14em;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    padding: 0 2vh 4vh 2vh;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .product-detail-image-wrapper {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
  }

  .product-detail-image-wrapper img {
    height: auto;
    margin: auto;
    width: 20em;
  }

  .swiper-pagination-bullet-active {
    background-color: #89BF43 !important;
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    #warning-body {
      display: block;
      width: auto;
      height: 100vh;
    }

    #body, #body * {
      display: none;
    }
  }